.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    color: #000;
}



input[type="text"],
input[type="email"],
input[type="number"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="radio"] {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}


input[type="file"] {
    margin-bottom: 20px; 
}

select {
    cursor: pointer;
}

input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

input[type="file"]:hover {
    border-color: #007bff;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-btn {
    background-color: #6c757d;
    color: white;
}

.reg-btn {
    background-color: #007bff;
    color: white;
}

.reg-btn:hover {
    background-color: #0056b3;
}